.profile-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #7C6A46;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px #7C6A46 ;
    text-align: center;
    color: white;
}

.profile-container h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.profile-container p {
    font-size: 1.1rem;
    margin: 15px 0;
    line-height: 1.6;
}

.profile-container p strong {
    font-weight: 700;
    color: burlywood;
}

.profile-container .logout-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.profile-container .logout-btn:hover {
    background-color: #e60000;
}

@media (max-width: 600px) {
    .profile-container {
        margin: 20px;
        padding: 15px;
    }

    .profile-container h1 {
        font-size: 2rem;
    }

    .profile-container p {
        font-size: 1rem;
    }
}
