
.profile-container {
  max-width: 480px;
  margin: 40px auto;
  background: rgba(255 255 255 / 0.1);
  border-radius: 16px;
  padding: 30px 40px;
  box-shadow:
    0 4px 8px rgba(0,0,0,0.15),
    0 8px 20px rgba(0,0,0,0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255 255 255 / 0.2);
}

.title-profile {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 2.5rem;
}

.profile-container > div {
  margin-bottom: 24px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.buttonEdit{
    background-color: green;
    border: solid 1px green;
    border-radius: 5px;
    color: white;
}

.buttonEdit:hover{
    background-color: #006400;
}

.edit-button1{
    border-radius: 5px;
    background-color: #7C6A46;
    border: solid 1px #7C6A46;
    color: white;
}

@media (max-width: 520px) {
  .profile-container {
    margin: 20px 12px;
    padding: 20px 25px;
  }
  .profile-container h1 {
    font-size: 2rem;
  }
}
